version: "3.9"

services:
  backend:
    build: ./server
    container_name: todo-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    restart: unless-stopped
  redis:
    image: redis:latest
    container_name: todo-redis
    ports:
      - "6379:6379"
    restart: unless-stopped